@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "samakaran";
  src: url("./assets/SamarkanNormal-Gg5D.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: beige;
  font-family: "Montserrat";
}
html,
body {
  margin: 0;
  padding: 0;
}

.cursor {
  position: fixed;
  border-radius: 50%;
  height: 1.2vw;
  width: 1.2vw;
  background-color: #ff5100;
  z-index: 9;
  opacity: 0;
  pointer-events: none;
}
.noise-overlay {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  height: 100%;
  width: 100%;
  background: url(/assets/grain-slow.gif);
  z-index: 9999;
  opacity: 0.05;
}
body {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #fff;
  overflow-x: hidden;
}

main {
  height: 100%;
  width: 100%;
  background-color: #0c0c0c;
}
.page1 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #0c0c0c;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
}

.logo {
  font-size: 2vw;
  cursor: pointer;
  font-weight: 800;
  font-family: "samakaran";
}
.nav i {
  font-size: 2vw;
  cursor: pointer;
}

.nav-slide {
  position: absolute;
  right: -35%;
  top: 0;
  height: 100%;
  width: 35%;
  background-color: #2a2a2a66;
  padding: 80px 100px;
  backdrop-filter: blur(10px);
  z-index: 5;
}
.nav-slide a {
  display: block;
  font-size: 3.5vw;
  text-decoration: none;
  color: beige;
  font-weight: 600;
  margin: 20px 0px;
}
.nav-slide a:hover {
  text-decoration: 2px underline #ff5100;
  color: #ff5100;
  text-underline-offset: 8px;
  text-shadow: 2px 0px 50px #ff5100;
}
.nav-slide i {
  font-size: 2.3vw;
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;
  color: #000;
  background-color: beige;
  border-radius: 50%;
}

.dev-stack {
  position: relative;
  width: 100%;
  display: flex;
  height: 77%;
  margin-top: 3vw;
  margin-left: 2vw;
  /* background-color: aqua; */
}
.left-container .type-writer {
  position: relative;
  font-size: 6vw;
  font-weight: 800;
  margin-left: 2%;
  margin-top: 2%;
  overflow: hidden;
  z-index: 2;
  white-space: nowrap;
}
.left-container {
  position: absolute;
  height: 90%;
  width: 71.6%;
  border-radius: 30px;
  overflow: hidden;
  background-color: #1b1b1b;
  border: 2px solid #2d2d2d;
}
.left-container p {
  font-size: 2vw;
  padding: 60px 40px;
  display: inline-block;
  font-weight: 400;
  cursor: pointer;
}
.left-container .string {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  /* background-color: red; */
}
.left-container .string svg {
  /* background-color: antiquewhite; */
  width: 100%;
}
.type-writer .box {
  display: inline-block;
  position: absolute;
  border-radius: 15px;
  bottom: 0;
  height: 1vw;
  background-color: #ff5100;
  z-index: -1;
}

.type-writer .hi {
  display: inline-block;
  word-spacing: nowarp;
}
.right-container {
  position: absolute;
  right: 0;
  width: 25%;
  height: 90%;
  background-color: #1b1b1b;
  border: 2px solid #2d2d2d;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 3vw;
  padding: 20px 20px;
}
.right-container p {
  font-size: 2.5vw;
  font-weight: 700;
}
.right-container img {
  cursor: pointer;
  height: 4vw;
  width: 4vw;
  object-fit: contain;
}
.right-container .stack-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  padding: 20px;
  flex-wrap: wrap;
  grid-column: 2;
}

.page2 {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8vh;
  justify-content: center;
  align-items: center;
  background-color: #0c0c0c;
}
.me {
  height: 20vh;
  width: 20vh;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.me img {
  width: 100%;
  height: 100%;
  scale: 1.2;
  object-fit: cover;
}
.text-opacity-animation {
  font-weight: 700;
  text-align: center;
  font-size: 2.39vw;
  padding: 0vw 5vw;
}

.page3 {
  position: relative;
  height: 100%;
  width: 100%;
  background: #0c0c0c;
  padding: 5vw;
}
.horizontal-scroll h1 {
  transform: translateX(0);
  font-size: 25vw;
  font-family: august;
  white-space: nowrap;
  font-weight: 600;
}
.horizontal-scroll span {
  font-size: 10vw;
  font-family: signature december;
  white-space: nowrap;
  color: #ff5100;
  opacity: 60%;
  font-weight: 100;
}

.page4 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: center;
  align-items: center;
  background: #0c0c0c;
  overflow: hidden;
  padding: 3vw;
}
.page4 h1 {
  font-size: 4vw;
  font-family: august;
  font-weight: 800;
}

.image-container {
  position: relative;
  width: 80%;
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  padding: 2vh;
  border: 3px solid #ff5100;
  gap: 3vh;
  /* scroll-snap-type: x mandatory; */
}
.images {
  flex: 0 0 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(0%);
  /* scroll-snap-align: start; */
}
.images img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 3px solid #2d2d2d;
  background-position: center;
  object-fit: cover;
}
.page5 {
  height: 100vh;
  width: 100%;
  background: #0c0c0c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  background-color: transparent;
  border: 2px solid #1b1b1b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  height: 70vh;
  width: 70%;
  padding: 5px;
  border-radius: 30px;
}
.contact-wrapper {
  height: 100%;
  width: 75%;
  background-color: #1b1b1b;
  border: 2px solid #2d2d2d;
  border-radius: 28px;
  padding: 5vw;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
}
.contact-wrapper h4 {
  font-size: 1.5em;
  color: #ff5100;
}

.contact-wrapper form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
}
.contact-wrapper form input::placeholder {
  color: #2d2d2d;
}
.contact-wrapper form input {
  padding: 20px 40px;
  background: #454545;
  outline: none;
  width: 40vw;
  height: 8vh;
  border: 2px solid #2d2d2d;
  color: #fff;
  font-weight: 700;
  border-radius: 40px;
}
.contact-wrapper form input:hover {
  border-color: #ff5100;
}
.contact-wrapper form #btn {
  padding: 20px 40px;
  background: #ff5100;
  outline: none;
  width: 30vw;
  color: #0c0c0c;
  height: 8vh;
  border: 2px solid #2d2d2d;
  font-weight: 900;
  border-radius: 40px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.2s ease;
}
.contact-wrapper form #btn:hover {
  background: #ff8046;
  border-color: #ff5100;
}
.contact-wrapper form input:focus {
  border-color: #ff5100;
}

.contact-container h1 {
  font-size: 2em;
  flex-direction: column;
  display: flex;
  gap: 3vh;
  justify-content: center;
  align-items: center;
  background-color: #1b1b1b;
  border: 2px solid #2d2d2d;
  border-radius: 28px;
  height: 100%;
  width: 25%;
}
.contact-container h1 i {
  color: #ff5100;
  font-size: 1em;
}

.marquee-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff5100;
  display: flex;
  padding: 25px 0;
}
.marquee-inner {
  display: flex;
  justify-content: space-between;
}
.marquee {
  display: flex;
  align-items: center;
}
.marquee h1 {
  color: #0c0c0c;
  font-family: samakaran;
  font-size: 2.8em;
  white-space: nowrap;
}
.marquee i {
  color: #0c0c0c;
  font-size: 2.8em;
  font-weight: 700;
  padding: 0 3vw;
  transform: rotate(-180deg);
}
